# RFC-${{ values.rfcNumber }} - ${{ values.rfcTitle }}

*Author(s)*: 
*Squad*: 
*Requested Reviewers*: 
*Status*: DRAFT

## Abstract
${{ values.abstract }}

## Background

## Non-Goals

## Key Terms

## Problem

## Proposal

## Technical Limitations

## Open Questions

## Outcomes and Forward References